body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

/* 顶栏 */
.top_bar {
    padding: 0px;
    margin: 0px;
    background-color: rgb(30, 29, 34);
    height: 50px;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}

.left {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 60%;
    height: 100%;
}

.left li {
    display: inline-block;
    list-style: none;
    color: white;
    margin-left: 3%;
    text-align: center;
    position: relative;
    top: -40%;
}

.top_bar .left .logo{
    display: inline-block;
    height: 100%;
}

.top_bar .search {
    display: inline-block;
    height: 80%;
    position: relative;
    top: -8%;
    margin-left: 3%;
}

.login {
    margin: 0px;
    padding: 0px;
    height: 50px;
    width: 350px;
    float: right;
}

.login li {
    display: inline-block;
    list-style: none;
    color: white;
    margin-right: 3%;
    text-align: right;
    position: relative;
    top: -30%;
}

.login .console {
    height: 80%;
}

/* 开学采购季 */
.top_bar2 {
    margin: 0px;
    padding: 0px;
    height: 74px;
    background-image: linear-gradient(to right, rgb(124, 29, 53), rgb(164, 36, 59), rgb(75, 19, 45));
}

.top_bar2 img {
    margin-left: 7%;
}

.top_bar2 .gift_pack {
    display: inline-block;
    list-style: none;
    width: 80%;
    margin: 0px;
    padding: 0px;
    margin-left: 1%;
    position: relative;
    bottom: 25%;
}

.top_bar2 .gift_pack li {
    display: inline-block;
    
    margin-left: 3.1%;
    width: 14%;
    border-style: none solid none none;
    border-color: white;
    border-width: thin;
}

.top_bar2 .gift_pack #five {
    border-style: none;
}

.gift_pack span {
    color: white;
    font-weight: bold;
    font-size: 108%;
}

.top_bar2 .gift_pack a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 95%;
}


/* 广告图片 */
.add {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.add_pic {
    width: 100%;
    display: block;
}

.tab {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: gray;
    color: white;
    list-style: none;
}

.tab li {
    margin: 0px;
    padding: 0px;
    height: 75px;
    width: 50%;
    font-size: 19px;
    text-align: center;
    display: inline-block;
}

.tab li a {
    text-decoration: none;
    color: white;
    position: relative;
    top: 30%;
}

/* tab栏渐变色 */
.tab #left_tab {
    background-image: linear-gradient(to right, rgb(180, 27, 61), rgb(108, 18, 49));
}

.tab #right_tab {
    background-color: rgb(9, 14, 39);
    float: right;
}

/* 主体 抽奖活动 */
.content {
    margin: 0px;
    padding: 0px;
}

.content #item {
    width: 170px;
    margin: auto;
    margin-top: 5.5%;
    margin-bottom: 3%;
}


/* 幸运抽奖内框 */
.gift {
    border: rgb(36, 93, 155);
    border-style: solid solid none solid;
    background-color: rgb(10, 16, 49);
    width: 85%;
    margin: auto;
}

.content #item2 {
    width: 80px;
    margin: auto;
    margin-top: 3.5%;
    margin-bottom: 2.5%;
}

/* 抽奖图片 */
.gift_img {
    width: 55%;
    margin-left: 5%;
}

/* 抽奖右侧文字 */
.rule {
    width: 28%;
    margin-left: 7%;
    margin-right: 5%;
    float: right;
    padding-top: 10px;
    line-height: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rule em {
    display: block;
    font-style: normal;
}

.rule #my_gift {
    float: right;
}